<div class="container mt-5">
  <div class="d-flex justify-content-start" style="font-size:40px; ">신이 <%= @name %>을(를) 만들 때..</div>
<div class="card-deck mt-5 " >
  <div class="card w-25 p-3 " >
    <img class="card-img-top " src="https://t.wootza.com/assets/logo/logo_god.png" alt="">
    <div class="card-block">
      <p class="card-text"><%= @character[0]%> <%=@spoon[0]%></p>
    </div>
  </div>
  <div class="card w-25 p-3 " >
    <img class="card-img-top" src="https://t.wootza.com/assets/logo/logo_god.png" alt="">
    <div class="card-block">
      <p class="card-text"><%= @character[1]%>  <%=@spoon[1]%></p>
    </div>
  </div>
  <div class="card w-25 p-3 " >
    <img class="card-img-top" src="https://t.wootza.com/assets/logo/logo_god.png" alt="">
    <div class="card-block">
      <p class="card-text"><%= @character[2]%>  <%=@spoon[2]%></p>
     
    </div>
  </div>
</div>
 <div class="mt-4">
   <a class="btn btn-primary" style="float:right" href="/" role="button">돌아가기</a>
</div>
</div>

